*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    overflow-x: hidden;
}
.navbar{
    display: flex;
    width: 100%;
    padding: 16px 20px;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img {
    max-width: 100px;
    height: auto;
    margin-bottom: 5px; 
}
.logo2-image{
    width: 48px;
    height: 14px;
    flex-shrink: 0;
}
.logo2 {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    gap: 5px;
    margin-left: 44px;
}
.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0 50px;
    display: flex;
    gap: 20px;
}
.navbar-links li {  
    font-family: "Moderat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.navbar-links li a {
    color: #2C555B;
    text-decoration: none;
}
.nigeria-logo {
    display: flex;
    align-items: center;
}
.nigeria-logo img {
    width: 20px; 
    height: 20px;
    flex-shrink: 0;
    border-radius: 50%; 
    margin-right: 5px; 
}
.nigeria-logo span{
    color: #2A285F;
    font-family: "Moderat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}
#section1{
    background-color: #FCFCFC;
    width: 100%;
    height: 600px;
    flex-shrink: 0;
}
#content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 72px;
    position: relative;
}
.section1-left {
    display: flex;
    flex: 1;
}
#union-img{
    position: absolute;
    bottom: -191px;
}
.sect{
    align-items: center;
}
.section1-left h1 {
    color: #2C555B;
    font-family: "Moderat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
}
.section1-left p {
    color: #2C555B;
    font-family: "Moderat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 25px;
}
.section1-right img{
    max-width: 100%; 
    position: absolute;
    top: 50px;
    right: 100px;
}
.apply-button{
    border-radius: 4px;
    width: 192px;
    height: 48px;
    background: #F68A29;
    padding: 10px 24px;
    border: none;
    margin-right: 5px;
    color: #FFF;
    font-family: "Moderat", sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
    font-weight: 700;
    line-height: 33.202px; 
}
.talk-button {
    align-items: center; 
    border-radius: 4px;
    border: 1px solid #F68A29;
    padding: 12px 24px;
    gap: 8px;
    font-family: "Moderat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}
.talk-button i {
    width: 24px;
    height: 24px;
}
.talk-button a{
    cursor: pointer;
    color: #F68A29;
    text-decoration: none;
}
#section2 {
    background-color: #2C555B;
    width: 100%;
    height: 481px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2-div {
    text-align: center;
}
#section2 h2 {
    color: #FFF;
    font-family: "Moderat", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
#section2 h5{
    color: #FFF;
    font-family: "Moderat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 10px;
}
#section2 span{
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-family: "Moderat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; 
}
#section2-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 120px;
    position: relative;  
}
.users {
    margin: 80px 0 25px 0;
}
.curved-img{
    position: absolute;
}
#img1{
        left: 200px;
        bottom: 167px;
}
#img2{
    right: 539px;
    top: 105px;
}
#img3{
    
    right: 193px;
    bottom: 164px;
}
#section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}

#section3-div {
    border-radius: 30px;
    background: rgba(44, 85, 91, 0.05);
    padding: 30px; 
    width: 1300px;
    height: 704px; 
    margin-top: 50px;
}
.section3-cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:80px;
}
#cont1 img{
    width: 100%;
    border-radius: 10px;
    margin-left: 20px;
}
#section3 h2{
    margin: 40px;
    color: #2C555B;
    font-family: "Moderat", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
#cont2{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    gap: 20px;
}
.text span{
    color: #2C555B;
    font-family: "Moderat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    justify-content: center;
}
.text img{
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}
#section4 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    background-color: #fff;
    padding: 20px;
}
#section4-div {
    padding: 0 20px;
    display: flex;
    align-items: center; 
    gap: 30px;
    width: 1250px; 
    height: 151px;
    margin: 100px 0;
}
#section4 h5{
    color: #2C555B;
    width: 237px;
    font-family: "Moderat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}
#section4 span{
    color: #2C555B;
    font-family: "Moderat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}
#section5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}
#section5-div{
    border-radius: 16px;
    background: #2C555B;
    width: 1300px;
    height: 393px;
    text-align: center;
    position: relative;
}
#section5-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
}
#section5-div img{
    position: absolute;
    top: -1%;
    right: 64%;
}
#section5 h1{
    color: #FFF;
    text-align: center;
    font-family: "Moderat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 708px;
}
#section5 span{
    color: #FFF;
    text-align: center;
    font-family: "Moderat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    width: 641px;
}
#section5 button{
    border: none;
    border-radius: 4px;
    background:#F68A29;  
    width: 292px;
    height: 48px;
    padding: 10px 24px;
    margin: 0 auto;
    color: #FFF;
    cursor: pointer;
    font-family: "Moderat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.202px; 
    text-decoration: none;
}
footer {
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 120px;
    margin-top: 45px;
    position: relative;
}
#footer-div {
    width: 1441px;
    height: 442px;
    display: flex;
    flex-direction: column; 
    gap: 40px;
    margin-bottom: -40px;
}
.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
#column1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    width: 213px;
}
#column1 h5{
    color: rgba(252, 252, 252, 0.70);
    font-family: "Moderat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.column h3{
    color: #FFF;
    font-family: "Moderat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
    margin-bottom: 15px;
}
.info li, p{
    color: rgba(252, 252, 252, 0.70);
    font-family: "Moderat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%; 
    letter-spacing: -0.27px;
    list-style-type: none;
    margin-bottom: 10px;
}
.footer-section1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.footer-section2 a{
    color: #FFFFFF;
    padding: 15px;
}
.footer-section2{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.footer-section2 p{
    color: rgba(252, 252, 252, 0.70);
    font-family: "Moderat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    letter-spacing: -0.21px;
}
hr {
    width: 1300px;
    height: 1px;
    background: rgba(236, 236, 236, 0.25);
    border: none;
    position: absolute;
    bottom: 100px;
}
.footer-section3{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-section3 p{
    color:#EEF1F4;
    font-family: "Moderat", sans-serif;
    font-size: 17.033px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.466px; 
}
.popup-form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    right: 0;
}
.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 12px 40px 0px rgba(142, 142, 142, 0.24);
    width: 100%;
}
.pop-container {
    width: 90%;
    max-width: 583px;
    margin: 0 auto;
}
.popup-close {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 48px;
    top: 48px;
    cursor: pointer;
}
.pop-p{
    max-width: 446px;
    margin: auto;
}
.popup-content h2{
    color: #30585E;
    text-align: center;
    font-family: "Moderat", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 77.76px;
    margin-bottom: 16px;
}
.popup-content p{
    color: #083C2F;
    text-align: center;
    font-family: "Moderat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
}
.popup-input {
    display: flex;
    width: 100%;
    height: 40.502px;
    padding: 12.001px 18.001px;
    align-items: flex-start;
    border-radius: 6px;
    background: #EAECF0;
    margin-bottom: 16px;
    border: none;
}
.popup-button {
    display: flex;
    width: 100%;
    height: 48px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background:#F68A29;
    color: #FFF;
    font-family: "Moderat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.202px;
    cursor: pointer;
    border: none;
    text-align: center;
    text-decoration: none;
}
.navbar-mobile{
    display: none;
    flex-direction: column;
    width: 428px;
    padding: 10px;
    background: #FFF;
}
.navbar-mobile .logodiv{
    display: flex;
    width: 667px;
    height: 78px;
    padding: 10px;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgba(8, 60, 47, 0.10);
    background: #FFF;
}
.navbar-mobile .logodiv img {
    width: 92px;
    height: 40.003px;
}
.navbar-mobile .dropdown-content {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border: 1px solid #FAFAFA;
    background:#FAFAFA;
    width: 667px;
    padding: 16px 20px;
    margin-top: 23px;
}
.navbar-mobile .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 670px;
    height: 78px;
    padding: 10px;
    background: #FAFAFA;
    border-bottom: 1px solid rgba(8, 60, 47, 0.10);
}
.navbar-mobile .close-button img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 0;
}
.navbar-mobile .mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 76px;
    width: 100%;
}
.navbar-mobile .mobile-links li {
    text-align: center;
    font-family: "Moderat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    list-style-type: none;
}
.navbar-mobile .mobile-links a {
    color: #2C555B;
    text-decoration: none;
}
.navbar-mobile .nigeria-logo {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.navbar-mobile .nigeria-logo img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 5px;
}
.navbar-mobile .nigeria-logo span {
    color: #2A285F;
    font-family: "Moderat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}
body > div > nav.navbar-mobile > div.logodiv > div.logo{
    margin-left: 57px;
}
.top-nav img{
    margin-left: 60px;
}
.navbar-mobile .hamburger-menu img {
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 1024px){
    .section1-left h1 {
        font-size: 38px;
    }
    .section1-left p{
        font-size: 16px;
    }
    .section1-right img{
        max-width: 36%;
    }
    #section1{
        height: 465px;
    }
    #union-img{
        bottom: -85px;
    }
    #section2 h2{
        font-size: 24px;
    }
    #section2-content{
        gap: 41px;
    }
    #section2 h5{
        font-size: 19px;
    }
    #section2 span{
        font-size: 15px;
    }
    #img1{
        width: 13%;
        left: 148px;
    }
    #img2{
        width: 13%;
        right: 380px;
    }
    #img3{
        width: 13%;
        right: 141px;
        bottom: 171px;
    }
    #section3-div{
        width: 868px;
    }
    .section3-cont{
        gap: 66px;
    }
    #cont2 {
        gap: 30px;
    }
    .text img {
        width: 12px;
        height: 12px;
    }
    .text span{
        font-size: 16px;
        line-height: 20px;
    }
    #section3 h2{
        font-size: 26px;
    }
    #section4-div {
        width: 892px;;
        margin: 72px 0;
    }
    #section4 h5 {
        font-size: 22px;
    }
    #section4 span {
        font-size: 14px;
    }
    #section5-div {
        width: 870px;
    }
    #section5 h1{
        font-size: 34px;
        width: 552px;
    }
    #section5 span {
        font-size: 15px;
        width: 384px;
    }
    #section5 button{
        width: 228px;
    }
    footer{
        padding: 44px 70px;
    }
    #column1 h5{
        font-size: 15px;
    }
    .info li, p {
        font-size: 15px;
    }
    .column h3{
        font-size: 18px;
    }
    .info {
        gap: 46px;
    }
}
@media screen and (max-width: 992px){
    .section1-left h1 {
        font-size: 30px;
    }
    .section1-left p {
        font-size: 12px;
    }
    .talk-button{
        padding: 11px 13px;
    }
    .apply-button {
        width: 140px;
    }
    #union-img {
        bottom: -115px;
    }
    #section2 span {
        font-size: 12px;
    }
    #img1 {
        left: 123px;
    }
    #img2 {
        right: 315px;
    }
    #img3 {
        right: 124px;
    }
    #section3-div {
        width: 709px;
    }
}
@media screen and (max-width: 768px) {
    .navbar{
        display: none; 
    }
    .navbar-mobile{
        display: flex;
    }
    .section1-right img {
        max-width: 32%;
    }
    #img1 {
        left: 110px;
    }
    #img2 {
        right: 290px;
    }
    #img3 {
        right: 110px;
    }
    #section3-div {
        width: 671px;
    }
    .text span {
        font-size: 13px;
    }
    #section4 span {
        font-size: 9px;
    }
    #section5-div {
        width: 670px;
    }
    #section2 span {
        font-size: 11px;
    }
}
@media screen and (max-width: 600px){
     body > div > nav.navbar-mobile > div.logodiv > div.logo {
        margin: 0;
    }
    .navbar-mobile .logo img {
        width: 64px;
        height: 30.003px;
    }
    .navbar-mobile .logodiv{
        width: 370px;   
    }
    .navbar-mobile .hamburger-menu img {
        width: 30px;
        height: 30px;
    }
    .navbar-mobile .dropdown-content {
        width: 405px;
    }
    .navbar-mobile .top-nav{
        width: 410px;
    }
    .top-nav img{
        margin-left: 0;
    }
    .navbar-mobile .close-button img {
        margin-right: 32px;
    }
    #section1{
        height: auto;
    }
    #content{
       grid-template-columns: 1fr;
       padding: 23px;
    }
    .section1-right img {
        max-width: 85%;
        top: 27px;
        right: 39px;
    }
    .sect{
        margin-top: 378px;
    }
    .section1-left h1 {
        font-size: 36px;
        margin-top: 20px;
    }
    .section1-left p {
        font-size: 15px;
        height: 53px;
    }
    .apply-button {
        width: 152px;
        height: 53px;
    }
    .talk-button {
        padding: 12px 14px;
    }
    #union-img {
        bottom: 238px;
        left: -172px;
    }
    #section2{
        height: auto;
    }
    .section2-div{
        margin: 20px 0;
    }
    #section2-content{
        margin-bottom: 34px;
    }
    .users {
        margin: 27px 0 7px 0;
    }
    #section2 h5{
        line-height: 18px;
    }
    #section2 span{
        line-height: 13px;
    }
    #section2-content {
        grid-template-columns: 1fr;
        gap: 4px;
    }
    #img1, #img2, #img3{
        display: none;
    }
    #section3{
        margin-left: 20px;
        width: 89%;
    }
    .section3-cont{
        grid-template-columns: 1fr;
        gap: 22px;
        margin-bottom: 24px;
    }
    #section3-div{
        height: auto;
        padding: 20px;
    }
    .text img {
        width: 20px;
        height: 20px;
    }
    #cont2 {
        gap: 20px;
    }
    .text span {
        font-size: 14px;
    }
    #section3 h2{
        text-align: center;
        margin: 20px;
    }
    #cont1 img{
        margin: 0;
    }
    #section4-div{
        flex-direction: column;
        height: auto;
        position: relative;
        margin: 39px 0;
    }
    #frame{
        width: 44%;
        position: absolute;
        left: -3px;
        top: -62px;
    }
    #section4-div > div:nth-child(3) > img{
        position: absolute;
        right: 40px;
        top: -49px;
        width: 20%;
    }
    #section4{
        padding: 31px;
        margin-top: 28px;
    }
    #section4 span {
        font-size: 15px;
    }
    #section4-div > div:nth-child(2){
        text-align: start;
    }
    #section5-div {
        width: 354px;
        height: 410px;
    }
    #section5 h1 {
        font-size: 32px;
        width: 318px;
    }
    #section5 button {
        width: 292px;
    }
    #section5 span {
        font-size: 16px;
        width: 327px;
    }
    #section5-div img {
        right: 29%;
    }
    .footer-section1{
        grid-template-columns: 1fr;
        gap: 43px;
    }
    .info{
        grid-template-columns: repeat(2, 1fr);
        gap: 4px;
    }
    footer {
        padding: 40px 24px;
      }
    #footer-div {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }
    #column1{
        width: 341px;
    }
    .footer-section1{
        gap: 110px;
    }
    .column h3{
        margin-top: 12px;
    }
    .footer-section2{
        margin-top: 0;
    }
    .footer-section2 a{
        padding: 6px;
    }
    hr {
        width: 325px;
    }
    .footer-section3{
        justify-content: center;
    }
}





